* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.footer {
  align-items: center;
  background-color: #b5ffe1;
  bottom: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

a {
  padding-bottom: 10px;
}

.footer a {
  padding: 5px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.details-container h3 {
  margin-top: 20px;
  text-align: start;
}

img {
  max-width: 100px;
}

.recommended-carrocel {
  display: flex;
  height: 200px;
  overflow-x: hidden;
  width: 235px;
}

.recommended-carrocel li {
  list-style: none;
  margin: 10px 10px 40px;
}

.start-recipe {
  bottom: 0;
  left: 7.5%;
  position: fixed;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.login input {
  font-size: 20px;
  width: 85%;
}

.login h1 {
  margin-bottom: 5vh;
}

.bottom-btn {
  background-color: #4e878c;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 10vh auto 0;
  padding: 15px 0;
  transition: 0.5s;
  width: 85%;
}

.bottom-btn:disabled {
  background-color: transparent;
  border: 2px solid #4e878c;
  color: #4e878c;
}

.bottom-btn:hover {
  opacity: 0.6;
}

.header {
  align-items: center;
  background-color: #b5ffe1;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header a {
  padding: 10px;
}

.header button {
  background-color: transparent;
  border: none;
  padding: 10px;
}

.header h1 {
  color: black;
  flex: 1;
  text-align: center;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.details-info button {
  background-color: transparent;
  border: none;
}

.search-bar button {
  cursor: pointer;
  max-width: 100px;
}

.explore-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 60vh;
  padding: 5vh 5vw;
}

.profileBtns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 60vh;
  padding: 5vh 5vw;
}

.explore-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 60vh;
  padding: 5vh 5vw;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-container h4 {
  font-size: 30px;
  padding: 20px 5%;
}

.profile-btn {
  background-color: #b5ffe1;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px #b5ffe1;
  cursor: pointer;
  font-size: 30px;
  padding: 20px 5%;
  text-align: start;
  transition: 0.5s;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.profile-btn:hover {
  background-color: #4e878c;
}

.ingredient-btn {
  cursor: pointer;
  transition: 0.5s;
}

.ingredient-btn:hover {
  background-color: #4e878c;
}

.explore-btn {
  border-radius: 6px;
  box-shadow: 2px 2px #b5ffe1;
  cursor: pointer;
  font-size: 30px;
  padding: 20px 5%;
  transition: 0.5s;
  width: 100%;
}

.explore-btn:hover {
  background-color: #4e878c;
}

.doneFilters {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
  width: 90%;
}

.doneFilters button {
  background-color: #b5ffe1;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 8px;
  min-width: 25vw;
  padding: 5px;
  text-align: center;
  transition: 0.4s;
}

.categories-container button {
  background-color: #b5ffe1;
  border: none;
  cursor: pointer;
  margin: 8px;
  min-width: 25vw;
  padding: 5px;
  text-align: start;
  transition: 0.4s;
}

.doneFilters button:hover {
  background-color: #4e878c;
}

.categories-container button:hover {
  background-color: #4e878c;
}

.nations-select {
  font-size: 20px;
  line-height: 25px;
  margin: 10px 5vw;
  width: 90%;
}

.recipe-card {
  border-radius: 3px;
  box-shadow: 2px 2px #b5ffe1;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  transition: 0.4s;
  width: 40vw;
}

.recipe-card:hover {
  background-color: #4e878c;
}

.recipe-card img {
  max-width: max-content;
  width: 35vw;
}

.ingredients-ul {
  margin-top: 5px;
  width: 100%;
}

.ingredients-ul li {
  background-color: #b5ffe1;
  list-style: none;
  margin: 0 auto;
  max-width: 95%;
  padding: 5px;
}

.instructions {
  background-color: #b5ffe1;
  margin: 5px auto;
  max-width: 95%;
  padding: 5px;
  text-align: justify;
}

.detail-img {
  max-width: 800px;
  width: 100%;
}

.details-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5px;
  width: 100%;
}

.search-bar {
  box-shadow: 2px 2px #b5ffe1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 5%;
  width: 100%;
}

.search-bar .search-radios {
  display: flex;
  gap: 25px;
}

.search-bar .search-radios label {
  cursor: pointer;
}
